// Components :: Banners

.c-banner {
  @include size(100%, 600px);
}

.c-banner__text {
  display: flex;
  flex-flow: column nowrap;
  width: 47.5%;
}

$alchemy-position: (
  'top-left': (flex-start, flex-start),
  'top': (center, flex-start),
  'top-right': (flex-end, flex-start),
  'left': (flex-start, center),
  'middle': (center, center),
  'right': (flex-end, center),
  'bottom-left': (flex-start, flex-end),
  'bottom': (center, flex-end),
  'bottom-right': (flex-end, flex-end)
);

@each $pos, $values in $alchemy-position {
  .c-banner--#{$pos} {
    align-items: nth($values, 1);
    justify-content: nth($values, 2);
  }
}

.c-banner--half-left,
.c-banner--half-right {
  align-items: flex-start;

  &.c-banner--top {
    .c-banner__text {
      justify-content: flex-start;
    }
  }

  &.c-banner--middle {
    .c-banner__text {
      justify-content: center;
    }
  }

  &.c-banner--bottom {
    .c-banner__text {
      justify-content: flex-end;
    }
  }

  .c-banner__text {
    height: 100%;
  }
}

.c-banner--half-left {
  align-items: flex-start;
}

.c-banner--half-right {
  align-items: flex-end;
}

.c-banner__bg {
  @include absolute(top 0 left 0);
  width: 100%;
  height: 100%;
}

.c-banner__text__content {
  background: transparent !important;
}
