// Components :: Toolbar

// TODO Tidy up Toolbar Component

.c-toolbar {
  @include absolute(top $inuit-rhythm-unit right 0);
  box-shadow: $alchemy-global-shadow;
  display: flex;
}

.c-toolbar__btn {
  // background: alchemy-color-level('light-grey', -1);
  background: transparent;
  border: 0;
  // border-right: 1px dashed lighten(#7ba0c5, 10%);
  color: #40648a;
  cursor: pointer;
  margin: 0;
  padding: 12px;
  // transition: $alchemy-global-transition;

  &:first-child {
    @include border-radius($alchemy-global-radius left);
  }

  &:last-child {
    @include border-radius($alchemy-global-radius right);
  }

  i {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    pointer-events: none; // TODO Move this hack somewhere, or resolve more elegantly.
  }

  .tools-wrapper & {
    border-radius: 0;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    @include alchemy-linear-gradient(to bottom, #adc9e3, 90%, darken(#7ba0c5, 20%));
    color: alchemy-color('white');

    i {
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    }
  }

  // svg {
  //   color: alchemy-color('grey');
  // }

  &.active {
    @include alchemy-linear-gradient(to bottom, #adc9e3, 90%, darken(#7ba0c5, 20%));
    color: alchemy-color('white');

    i {
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &.disabled {
    svg {
      color: alchemy-color('light-grey');
      opacity: 0.6;
      pointer-events: none;
    }
  }

  svg {
    pointer-events: none;
  }
}

#range {
  -webkit-appearance: none;
  outline: none;
  @include alchemy-linear-gradient(to left, darken(#4b749b, 15%), #4b749b);
  height: 6px;
  width: 200px;
  border-radius: 5px;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: darken(#4b749b, 25%);
  }
}

.rangeslider-horizontal .rangeslider__fill {
  @include alchemy-linear-gradient(to left, darken(#4b749b, 15%), #4b749b);
}

.tools-wrapper {
  // display: inline-block;
  position: relative;
  @include alchemy-linear-gradient(to bottom, #f6f9fc, 90%, darken(#c5d1df, 15%));

  &:first-of-type {
    @include border-radius($alchemy-global-radius-small left);

    .c-toolbar__btn:first-child {
      @include border-radius($alchemy-global-radius-small left);
    }
  }

  &:last-of-type {
    @include border-radius($alchemy-global-radius-small right);

    .c-toolbar__btn:last-child {
      @include border-radius($alchemy-global-radius-small right);
    }
  }
}

.c-toolbar__popover {
  @include absolute(bottom 50px right 0);
  @include border-radius($alchemy-global-radius-small);
  @include alchemy-linear-gradient(to bottom, #c5d1df, 90%, darken(#c5d1df, 15%));
  // background: alchemy-color-level('light-grey', -1);
  display: flex;

  &:before {
    @include triangle($direction: bottom, $position: top 100% right 0.75em, $size: 6px, $color: #96aec4);
  }

  // .c-toolbar__btn {
  //   background: alchemy-color-level('light-grey', -1);
  // }

  .c-toolbar__btn:first-child {
    @include border-radius($alchemy-global-radius-small left);
  }

  .c-toolbar__btn:last-child {
    @include border-radius($alchemy-global-radius-small right);
  }
}

.c-textbar {
  background: #173748;
  @include border-radius($alchemy-global-radius top);
  // background: alchemy-color('dark-grey');
}

.c-textbar_input {
  @include alchemy-font-size(14px);
  @include border-radius($alchemy-global-radius left);
  border: 0;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;

  &:last-child {
    border-right: 1px solid alchemy-color('medium-grey');
  }

  &:hover {
    background-color: alchemy-color('light-grey');
  }

  &.active {
    background-color: alchemy-color-level('light-grey', -1);
  }
}

.c-textbar_btn {
  height: 36px;
}

.c-toolbar__mq {
  @include alchemy-linear-gradient(to bottom, #f6f9fc, 90%, darken(#c5d1df, 15%));
  @include absolute(top $inuit-global-spacing-unit right $inuit-global-spacing-unit);
  @include border-radius($alchemy-global-radius-small);
  color: alchemy-color('dark-grey');

  @each $alchemy-key, $alchemy-value in $mq-breakpoints {
    &:after {
      @include alchemy-font-size(13px);
      color: alchemy-color('info');
      font-family: FS-Emeric-Core, Helvetica, sans-serif;
      text-transform: capitalize;

      @include mq($alchemy-key) {
        content: '#{$alchemy-key}';
      }
    }
  }
}
