// Components :: Atoms

.nucleus {
  @include alchemy-size(6px);
  background-color: alchemy-color(secondary1);
  box-shadow: $alchemy-global-shadow;
  outline: 1px solid alchemy-color('black');
}

@each $alchemy-property-namespace, $alchemy-property in $alchemy-spacing-properties {
  @each $alchemy-atom, $alchemy-value in $alchemy-atoms {
    $half-value: $alchemy-value/2;
    $special-value: $alchemy-value - 6;
    $double-value: $alchemy-value * 2;

    .atomic-#{$alchemy-atom} {
      @include alchemy-size(#{$alchemy-value}px);
      background-color: alchemy-color(primary);
      box-shadow: $alchemy-global-shadow;
      outline: 1px solid alchemy-color('black');
    }

    .atomic-#{nth($alchemy-property,1)}-unit-#{$alchemy-atom} {
      @include alchemy-stripes(45deg, $color1: nth($alchemy-property, 2), $color2: nth($alchemy-property, 3));
      border: 1px solid alchemy-color('black');
      box-shadow: $alchemy-global-shadow;
      position: relative;

      &:before,
      &:after {
        @include alchemy-font-size($inuit-font-size-tiny);
        color: alchemy-color(secondary2);
        content: '#{$alchemy-value}px';
      }

      &:before {
        @include absolute(right 0 top 50%);
        text-align: center;
        transform: translateY(-50%) rotate(90deg);
        width: #{$double-value}px;

        @if $alchemy-atom == 'tiny' {
          width: 18px;
        }
      }

      &:after {
        @include absolute(left 50%);
        bottom: #{$special-value}px;
        height: 12px;
        line-height: 1;
        transform: translateX(-50%);
      }

      &-content {
        @include alchemy-font-size($inuit-font-size-tiny, 16px);
        align-items: center;
        background-color: alchemy-color(dark-grey);
        border: 1px solid alchemy-color('black');
        box-shadow: $alchemy-global-shadow;
        box-sizing: content-box;
        display: flex;
        justify-content: center;
        min-height: 100px;
        text-align: center;

        @if $alchemy-property-namespace == 'padding' {
          @include alchemy-size(100%);
        }
      }
    }
  }
}
