// Components :: Buttons

.c-btn {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 0;
  padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
  text-align: center;
  // transition: $alchemy-global-transition;
  vertical-align: middle;

  &:focus {
    outline: 0;
  }
}

// Colour Variants
@each $alchemy-key, $alchemy-value in $alchemy-colors {
  .c-btn--#{$alchemy-key} {
    background-color: $alchemy-value;
    color: alchemy-choose-contrast-color($alchemy-value);
    transition: $alchemy-global-transition;

    &,
    &:hover,
    &:active,
    &:focus {
      color: alchemy-choose-contrast-color($alchemy-value);
      text-decoration: none;
    }

    &:hover,
    &:focus {
      background-color: darken($alchemy-value, 10%);
    }
  }
}

// Size Variants
@each $alchemy-key, $alchemy-value in $alchemy-sizes {
  .c-btn--#{$alchemy-key} {
    @include alchemy-font-size(nth($alchemy-value, 2), $modifier: -1);
    padding: nth($alchemy-value, 1) / 2 nth($alchemy-value, 1);
  }
}

// Rounded Buttons
.c-btn--rounded {
  border-radius: $alchemy-global-radius;
}

.c-btn--rounded-large {
  border-radius: $alchemy-global-radius * 2;
}

// Ghost Buttons
$btn-ghost-border-width: 2px;

.c-btn--ghost {
  border: $btn-ghost-border-width solid currentColor;

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }

  @each $alchemy-key, $alchemy-value in $alchemy-sizes {
    &.c-btn--#{$alchemy-key} {
      padding: $alchemy-value / 2 $alchemy-value;
    }
  }

  @each $alchemy-key, $alchemy-value in $alchemy-colors {
    &.c-btn--#{$alchemy-key} {
      color: $alchemy-value;
    }
  }
}

// Block Buttons

.c-btn--block {
  width: 100%;
}
