// Components :: Navigation

.c-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-decoration: none;
    color: #f0a62e;
    padding: 0 24px !important;

    &:visited {
      color: #f0a62e;
    }
  }
}
