// Components :: Buttons

.c-btn {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 0;
  padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
  text-align: center;
  transition: $alchemy-global-transition;
  vertical-align: middle;

  &:focus {
    outline: 0;
  }
}

// Colour Variants
@each $alchemy-key, $alchemy-value in $alchemy-colors {
  .c-btn--#{$alchemy-key} {
    background-color: $alchemy-value;

    &,
    &:hover,
    &:active,
    &:focus {
      color: alchemy-color-contrast($alchemy-value);
      text-decoration: none; /* [4] */
    }

    &:hover,
    &:focus {
      background-color: alchemy-color-level('#{$alchemy-key}', -2);
    }
  }
}

// Size Variants
@each $alchemy-key, $alchemy-value in $alchemy-sizes {
  .c-btn--#{$alchemy-key} {
    padding: $alchemy-value/2 $alchemy-value;
  }
}

// Rounded Buttons
.c-btn--rounded {
  border-radius: $alchemy-global-radius;
}

// Ghost Buttons
$btn-ghost-border-width: 2px;

.c-btn--ghost {
  border: $btn-ghost-border-width solid currentColor;
  padding: ($inuit-global-spacing-unit-small - $btn-ghost-border-width)
    ($inuit-global-spacing-unit - $btn-ghost-border-width);

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }

  @each $alchemy-key, $alchemy-value in $alchemy-sizes {
    &.c-btn--#{$alchemy-key} {
      padding: $alchemy-value/2 $alchemy-value;
    }
  }

  @each $alchemy-key, $alchemy-value in $alchemy-colors {
    &.c-btn--#{$alchemy-key} {
      color: $alchemy-value;
    }
  }
}
