// Alchemy :: Development

@import url('https://fonts.googleapis.com/css?family=Courgette');

.a-alchemy-handwriting {
  font-family: Courgette, cursive;
}

// Utility Colours

@each $alchemy-key, $alchemy-value in $alchemy-dev-colours {
  .a-alchemy-#{$alchemy-key}-colour {
    color: $alchemy-value;
  }
}

@each $alchemy-key, $alchemy-value in $alchemy-dev-colours {
  .a-alchemy-#{$alchemy-key}-bg {
    background-color: $alchemy-value;
    color: alchemy-color-contrast($alchemy-value);
  }
}

// Development Bar
.a-development {
  padding-top: 10px;
  position: relative;

  &:before {
    @include alchemy-stripes(45deg, $color1: $alchemy-secondary, $color2: $alchemy-tertiary);
    @include absolute(top 0);
    @include alchemy-size(100%, 10px);
    box-shadow: $alchemy-global-shadow;
    content: '';
    display: block;
  }
}

// Page Style
.a-page {
  @include border-radius($alchemy-global-radius);
  color: alchemy-color('medium-grey');
}

// Note
.a-note {
  @include border-radius($alchemy-global-radius);
}

// Code Example
.a-code-example {
  @include border-radius($alchemy-global-radius);
  background: $alchemy-code-bg;
  color: alchemy-color('white');
  padding: $inuit-global-spacing-unit;
}

// Contents Box
.a-contents-box {
  a {
    display: block;
    text-decoration: none;

    &:link,
    &:visited {
      color: alchemy-color('white');
    }
    &:hover,
    &.active {
      background: rgba(alchemy-color('black'), 0.2);
    }
  }
  li {
    border-bottom: 1px dashed rgba(alchemy-color('white'), 0.2);
    &:last-child {
      border: 0;
    }
  }
}

// Patches
.a-patch {
  cursor: pointer;
  max-height: 64px;
  opacity: 0.4;
  transition: opacity linear 0.3s;

  &:hover {
    opacity: 0.6;
  }

  .active & {
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }

  &--sm {
    margin-bottom: 24px;
    max-height: 150px;
  }

  &--logo {
    opacity: 1;
    max-height: 112px;
    display: flex;
    align-self: center;

    &:hover {
      opacity: 1;
    }
  }

  &--alchemy {
    opacity: 1;
    max-height: 112px;
    display: flex;
    width: 32px;
    align-self: center;

    &:hover {
      opacity: 1;
    }
  }
}

.Sticky {
  @include border-radius($alchemy-global-radius);
  background: $alchemy-colour1;
}

// Layout
.a-layout {
  height: 300px;
}

.a-layout-item {
  background: alchemy-color('secondary2');
  height: 300px;
  position: relative;
}

.a-alchemy-gutter {
  @include absolute(right -24px);
  @include alchemy-font-size(12px);
  background: alchemy-color('primary');
  color: alchemy-color('black');
  text-align: center;
  width: 24px;
  // z-index: -1;

  .o-layout--tiny & {
    @include absolute(right -6px);
    width: 6px;
  }

  .o-layout--small & {
    @include absolute(right -12px);
    width: 12px;
  }

  .o-layout--large & {
    @include absolute(right -48px);
    width: 48px;
  }

  .o-layout--huge & {
    @include absolute(right -96px);
    width: 96px;
  }

  .o-layout__item:last-child & {
    display: none;
  }
}

// Navigation
.a-navigation {
  // @include alchemy-flexbox($align-items: center, $justify: space-around);

  a {
    // @include alchemy-flexbox($direction: column, $wrap: nowrap, $align-items: center);
    border-bottom: 1px solid rgba(alchemy-color('white'), 0.1);
    text-decoration: none;

    &:link,
    &:visited {
      color: rgba(alchemy-color('white'), 0.5);
      opacity: 0.6;
    }

    &:hover {
      color: rgba(alchemy-color('white'), 1);
      opacity: 0.8;
    }

    &.active {
      color: #f0a62e;
      opacity: 1;
    }
  }
}

.a-navigation__sub {
  display: none;

  &.active {
    display: block;
  }

  a {
    display: block;
    padding-left: 32px;
  }
}

// Lifecycle
.a-lifecycle {
  opacity: 0.3;
  transition: $alchemy-global-transition;

  &.active {
    opacity: 1;
  }
}

// Indicator
.a-indicator {
  @include alchemy-circle(20px, alchemy-color('grey'));
  display: inline-block;
  position: relative;
  transition: $alchemy-global-transition;

  &.active {
    background-color: alchemy-color('positive');
  }

  &:after {
    @include alchemy-circle(10px, rgba(255, 255, 255, 0.7));
    @include absolute(top 4px left 5px);
    content: '';
    display: block;
    filter: blur(4px);
  }
}

// Redux Colour Code

.a-redux {
  &__component {
    color: #ffb12f;
  }

  &__container {
    color: #de5e35;
  }

  &__action {
    color: #6ac3f3;
  }

  &__reducer {
    color: #88aa4f;
  }

  strong {
    font-size: 12px;
  }

  &__keys {
    width: 60%;
  }

  &__key {
    min-height: 60px;
    color: #fff;

    &__component {
      background: #ffb12f;

      &:after {
        content: 'Component';
      }
    }
    &__container {
      background: #de5e35;
      &:after {
        content: 'Container';
      }
    }
    &__action {
      background: #6ac3f3;
      &:after {
        content: 'Action';
      }
    }
    &__reducer {
      background: #88aa4f;
      &:after {
        content: 'Reducer';
      }
    }
  }
}

// Redux Todo App

.a-redux-todo__completed {
  opacity: 0.5;
}

// Prism

.code-toolbar {
  margin-bottom: $inuit-global-spacing-unit-large;
}

.toolbar-item {
  @include alchemy-font-size(10px);
  color: alchemy-color('primary');
  opacity: 0.5;
  text-transform: uppercase;
}

.a-code-label {
  @include alchemy-font-size(12px);
  color: alchemy-color('secondary1');
  font-style: italic;
}
