// Alchemy :: Development

.a-development {
  padding-top: 10px;
  position: relative;

  &:before {
    @include stripes(45deg, $color1: #f8cb5b, $color2: #000000);
    @include absolute(top 0);
    @include size(100%, 10px);
    box-shadow: $alchemy-global-shadow;
    content: '';
    display: block;
  }
}

.a-page {
  color: alchemy-color('grey');

  h3 {
    color: alchemy-color('medium-grey');
  }

  strong {
    color: alchemy-color('dark-grey');
  }
}

.a-note {
  @include border-radius($alchemy-global-radius);
}

.a-code-example {
  @include border-radius($alchemy-global-radius);
  background: $alchemy-code-bg;
  color: alchemy-color('white');
  padding: $inuit-global-spacing-unit;
}

.a-code-label {
  color: alchemy-color(info);
  font-style: italic;
}

.a-contents-box {
  a {
    text-decoration: none;
  }
}
