// Alchemy :: Development

// TODO Tidy up development file

.a-development {
  padding-top: 10px;
  position: relative;

  &:before {
    @include alchemy-stripes(45deg, $color1: #f8cb5b, $color2: #000000);
    @include absolute(top 0);
    @include alchemy-size(100%, 10px);
    box-shadow: $alchemy-global-shadow;
    content: '';
    display: block;
  }
}

.a-page {
  color: alchemy-color('grey');
  @include border-radius($alchemy-global-radius);

  h3 {
    color: alchemy-color('medium-grey');
  }

  strong {
    color: alchemy-color('dark-grey');
  }
}

.a-note {
  @include border-radius($alchemy-global-radius);
}

.a-code-example {
  @include border-radius($alchemy-global-radius);
  background: $alchemy-code-bg;
  color: alchemy-color('white');
  padding: $inuit-global-spacing-unit;
}

.a-code-label {
  color: alchemy-color(info);
  font-style: italic;
}

.a-contents-box {
  a {
    display: block;
    text-decoration: none;

    &:link,
    &:visited {
      color: alchemy-color('white');
    }
  }
  li {
    border-bottom: 1px dashed rgba(alchemy-color('white'), 0.2);
    &:last-child {
      border: 0;
    }
  }
  li:hover {
    background: rgba(alchemy-color('black'), 0.2);
  }
}

// Patches
.a-patch {
  cursor: pointer;
  max-height: 64px;
  opacity: 0.4;
  transition: opacity linear 0.3s;

  &:hover {
    opacity: 0.6;
  }

  .active & {
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }

  &--sm {
    margin-bottom: 24px;
    max-height: 150px;
  }

  &--alchemy {
    opacity: 1;
    max-height: 112px;
    display: flex;
    align-self: center;

    &:hover {
      opacity: 1;
    }
  }
}

.a-logo {
  background: darken($alchemy-init-header, 5%);
}

.Sticky {
  background: #173748;
  @include border-radius($alchemy-global-radius);
  padding: 0;
}
