// Generic :: Scratch

// Layout/Xray examples
.alchemy-layout-example {
  background-color: alchemy-color(dark-grey);
  position: relative;
}

.alchemy-layout-example-child-block {
  background-color: alchemy-color(medium-grey);
}

.alchemy-layout-example-xray {
  @include absolute(left 0 top 0);
  @include alchemy-stripes(45deg, $color1: alchemy-color('primary'), $color2: darken(alchemy-color('primary'), 15%));
  @include alchemy-size(100%);
  transition: $alchemy-global-transition;
  z-index: 2;

  h2,
  p {
    opacity: 0;
  }
}

.alchemy-layout-example-child-xray {
  box-shadow: $alchemy-global-shadow;
  outline: 1px solid alchemy-color('black');

  &:nth-child(1) {
    background-color: alchemy-color('dark-grey');
  }

  &:nth-child(2) {
    // background-color: alchemy-color('medium-grey');
  }
}

.alchemy-layout-example-child-block-xray {
  background: alchemy-color('negative');
  box-shadow: $alchemy-global-shadow;
  outline: 1px solid alchemy-color('black');

  &:nth-child(1) {
    background-color: alchemy-color('dark-grey');
    height: 400px;
    width: 1200px;
  }

  &:nth-child(2) {
    // background: cyan;
  }
}

.alchemy-layout-example-xray-opacity {
  opacity: 0.5;
}

.alchemy-layout-example-xray-margin {
  @include alchemy-stripes(45deg, $color1: #cb9d71, $color2: darken(#cb9d71, 15%));
}

.alchemy-layout-example-xray-padding {
  @include alchemy-stripes(45deg, $color1: #789772, $color2: darken(#789772, 15%));
}

.alchemy-layout-example-xray-padding-inner {
  background-color: alchemy-color('dark-grey');
}

// Animations

.a-animations {
  @include alchemy-size(100%, 200px);
  border-radius: $alchemy-global-radius;

  img {
    margin: 0 auto;
    max-height: 80%;
    opacity: 0.5;
  }
}

.a-animations_wrapper {
  border-radius: $alchemy-global-radius;
  overflow: hidden;
}

// Utility classes

.u-relative {
  position: relative;
}

// Sticky stuff

.Sticky {
  padding: 20px;
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
  width: 292px;

  h3 {
    margin: 0;
  }

  &.sticky {
    position: fixed;
    top: 48px;
    border-radius: 0;
    margin: 0;
  }
}
