// Generic :: Scratch

// Layout/Xray examples
.alchemy-layout-example {
  background-color: alchemy-color(dark-grey);
  position: relative;
}

.alchemy-layout-example-child-block {
  background-color: alchemy-color(medium-grey);
}

.alchemy-layout-example-xray {
  @include absolute(left 0 top 0);
  @include alchemy-stripes(45deg, $color1: alchemy-color('primary'), $color2: darken(alchemy-color('primary'), 15%));
  @include alchemy-size(100%);
  transition: $alchemy-global-transition;
  z-index: 2;

  h2,
  p {
    opacity: 0;
  }
}

.alchemy-layout-example-child-xray {
  box-shadow: $alchemy-global-shadow;
  outline: 1px solid alchemy-color('black');

  &:nth-child(1) {
    background-color: alchemy-color('dark-grey');
  }

  &:nth-child(2) {
    // background-color: alchemy-color('medium-grey');
  }
}

.alchemy-layout-example-child-block-xray {
  background: alchemy-color('negative');
  box-shadow: $alchemy-global-shadow;
  outline: 1px solid alchemy-color('black');

  &:nth-child(1) {
    background-color: alchemy-color('dark-grey');
    height: 400px;
    width: 1200px;
  }

  &:nth-child(2) {
    // background: cyan;
  }
}

.alchemy-layout-example-xray-opacity {
  opacity: 0.5;
}

.alchemy-layout-example-xray-margin {
  @include alchemy-stripes(45deg, $color1: alchemy-colour(primary), $color2: alchemy-colour-level(primary, -5));
}

.alchemy-layout-example-xray-padding {
  @include alchemy-stripes(45deg, $color1: #789772, $color2: darken(#789772, 15%));
}

.alchemy-layout-example-xray-padding-inner {
  background-color: alchemy-color('dark-grey');
}

// Animations

.a-animations {
  @include alchemy-size(100%, 200px);
  border-radius: $alchemy-global-radius;

  img {
    margin: 0 auto;
    max-height: 80%;
    // opacity: 0.5;
  }
}

.a-animations_wrapper {
  border-radius: $alchemy-global-radius;
  overflow: hidden;
}

// Surfaces

.o-surface {
  img {
    margin: 0 auto;
    max-height: 80%;
    // opacity: 0.5;
  }
}

// Utility classes

.u-relative {
  position: relative;
}

// Sticky stuff

.Sticky {
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
  width: 312px;

  h3 {
    margin: 0;
  }

  &.sticky {
    position: fixed;
    top: 48px;
    margin: 0;
  }
}

// Modal

.u-cursor {
  cursor: pointer;
}

.Modal {
  @include absolute(top 50% left 50%);
  @include alchemy-size(75%, 50%);
  @include border-radius($alchemy-global-radius);
  background-color: alchemy-color('white');
  transform: translate(-50%, -50%);

  &:focus {
    outline: none;
  }
}

.ReactModalPortal {
  position: relative;
  z-index: 2;
}

.ReactModalPortal > * {
  // When the modal is closed, overlay div has no css class
  // This selector should be overridden by the `&--after-open` class below
  opacity: 0;
}
.ReactModal__Overlay {
  transition: opacity $alchemy-global-speed ease-in-out;
  &--after-open {
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}

.Overlay {
  @include fixed(top 0 left 0 right 0 bottom 0);
  background-color: rgba(alchemy-color('black'), 0.8);
}

.modal--close {
  @include absolute(top $inuit-global-spacing-unit-small right $inuit-global-spacing-unit-small);
  color: alchemy-color('dark-grey');
  cursor: pointer;
}
