// Utilities :: Colours

@each $alchemy-key, $alchemy-value in $alchemy-colors {

  $gradient-dark: darken($alchemy-value, 15%);

  .u-alchemy-#{$alchemy-key}-bg {
    // @include alchemy-contrast($alchemy-value);
    background-color: $alchemy-value;
    color: alchemy-choose-contrast-color($alchemy-value);

    &.c-swatch {

      &:before {
        content: '#{$alchemy-key}';
        text-transform: capitalize;
      }
      &:after {
        content: '#{$alchemy-value}';
      }
    }

    @each $tone-key in $alchemy-tones {
      $tint: alchemy-get-tint($alchemy-value, $tone-key);
      $shade: alchemy-get-shade($alchemy-value, $tone-key);

      &--tint-#{$tone-key} {
        background-color: $tint;
        color: alchemy-choose-contrast-color($tint);
        &.c-swatch__tone {
          &:before {
            content: 'Lighten #{$tone-key}%';
            color: alchemy-choose-contrast-color($tint);
          }
          &:after {
            content: '#{$tint}';
            color: alchemy-choose-contrast-color($tint);
          }
        }
      }
      &--shade-#{$tone-key} {
        background-color: $shade;
        color: alchemy-choose-contrast-color($shade);
        &.c-swatch__tone {
          &:before {
            content: 'Darken #{$tone-key}%';
          }
          &:after {
            content: '#{$shade}';
          }
        }
      }
    }


    // .c-btn--ghost {
    //   color: alchemy-color-contrast($alchemy-value);
    // }
  }


  .u-alchemy-#{$alchemy-key}-gradient {
    @include alchemy-linear-gradient(to right, $alchemy-value, $gradient-dark);
    color: alchemy-choose-contrast-color($alchemy-value);

    &.c-swatch {

      &:before {
        content: '#{$alchemy-key} linear gradient';
        text-transform: capitalize;
      }
      &:after {
        content: '#{$alchemy-value} to #{$gradient-dark}';
        bottom: 0;
        top: auto;
      }
    }
  }
  .u-alchemy-#{$alchemy-key}-colour {
    color: $alchemy-value !important;
  }

  // @for $i from 1 through $alchemy-mix-levels {
  //   $name: alchemy-color-level('#{$alchemy-key}', $i);
  //
  //
  //   .u-alchemy-#{$alchemy-key}-l#{$i}-bg {
  //     background: alchemy-color-level('#{$alchemy-key}', $i);
  //     color: alchemy-color-contrast($alchemy-value);
  //     border: $name;
  //
  //     &:before {
  //       content: 'Light #{$i}';
  //     }
  //
  //     &:after {
  //       content: '#{$name}';
  //     }
  //   }
  //
  //   .u-alchemy-#{$alchemy-key}-d#{$i}-bg {
  //     background: alchemy-color-level('#{$alchemy-key}', -$i);
  //     color: alchemy-color-contrast($alchemy-value, 40);
  //     // @include alchemy-contrast($alchemy-value);
  //
  //     &:before {
  //       content: 'Dark #{$i}';
  //     }
  //
  //     &:after {
  //       content: '#{$name}';
  //     }
  //   }
  // }
}
