// Utilities :: Colours

@each $alchemy-key, $alchemy-value in $alchemy-colors {
  .u-alchemy-#{$alchemy-key}-bg {
    background-color: $alchemy-value;
    color: alchemy-color-contrast($alchemy-value);

    &.c-swatch {
      &::before,
      &::after {
        @include border-radius($alchemy-global-radius bottom);
        color: alchemy-color(dark-grey);
      }

      &::before {
        content: str-replace($alchemy-key, '-', ' ');
      }

      &::after {
        color: alchemy-color('grey');
        content: '#{$alchemy-value}';
      }
    }
  }

  .u-alchemy-#{$alchemy-key}-colour {
    color: $alchemy-value;
  }

  @for $i from 1 through $alchemy-mix-levels {
    $name: alchemy-color-level('#{$alchemy-key}', $i);

    .u-alchemy-#{$alchemy-key}-l#{$i}-bg {
      background: alchemy-color-level('#{$alchemy-key}', $i);
      color: alchemy-color-contrast($alchemy-value);

      &::before {
        content: 'Light #{$i}';
      }

      &::after {
        content: '#{$name}';
      }
    }

    .u-alchemy-#{$alchemy-key}-d#{$i}-bg {
      background: alchemy-color-level('#{$alchemy-key}', -$i);
      color: alchemy-color-contrast($alchemy-value, 60);

      &::before {
        content: 'Dark #{$i}';
      }

      &::after {
        content: '#{$name}';
      }
    }
  }
}
