// Utilities :: Baseline

@function alchemy-rem($target) {
  @if $target == 0 {
    @return 0;
  }
  $rem-size: $target / $inuit-global-font-size;
  @return #{$rem-size}rem;
}

@mixin alchemy-baseline-guide() {
  @include linear-gradient($guide-color 1px, transparent 1px);
  background-size: 100% alchemy-rem($inuit-rhythm-unit);
  border-bottom: 1px solid $guide-color;
}

$guide-color: rgba(alchemy-color('white'), 0.5);
$blueprint-colour: rgb(61, 143, 183);

.u-baseline {
  @include alchemy-baseline-guide;
  background-color: $blueprint-colour;

  [class^='u-h'],
  [class^='u-p'],
  [class^='u-small'] {
    cursor: pointer;
    transition: $alchemy-global-transition;

    &:hover {
      background: rgba(20, 35, 43, 0.5);
      color: rgba(255, 179, 29, 1);
    }
  }
}

.u-baseline-wrapper {
  background-color: $blueprint-colour !important;
}
