// Objects :: Grid

.o-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);

  &--auto {
    grid-template-columns: repeat(6, 150px);
  }

  &--code {
    grid-template-columns: repeat(2, 1fr);

    .o-grid__el {
      align-items: initial;
    }

    pre {
      width: 100%;
    }
  }

  &__el {
    @include border-radius($alchemy-global-radius);
    display: flex;
    min-height: 100px;
  }

  &--centre div {
    align-items: center;
    justify-content: center;
  }

  &--start div {
    align-items: flex-start;
  }
}
