// Objects :: Flex

.o-flex {
  align-content: center;
  display: flex;
  flex-flow: column nowrap;
}

.o-flex--start {
  justify-content: flex-start;
}

.o-flex--justift-center {
  justify-content: center;
}

.o-flex--row {
  flex-direction: row;
}

.o-flex--wrap {
  flex-wrap: wrap;
}

.o-flex__item {
  flex: 1;
}
