// Objects :: Forms

.o-form {
  outline: 1px solid alchemy-color(primary);
}

.o-form_input {
  @include alchemy-font-size(14px);
  border: 0;
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
  transition: $alchemy-global-transition;

  &:focus {
    outline: none;
    background-color: alchemy-color('light-grey');
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }
}
