// Objects :: Grid

.o-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  &--auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &__el {
    @include border-radius($alchemy-global-radius);
    display: flex;
    min-height: 100px;
  }

  &--centre div {
    align-items: center;
    justify-content: center;
  }

  &--start div {
    align-items: flex-start;
  }
}
