// Objects :: Wrapper

// Page-level constraining and wrapping elements.

$inuit-wrapper-width: $alchemy-global-width;

@if (type-of($inuit-wrapper-width) != number) {
  @error '`#{$inuit-wrapper-width}` needs to be a number.';
}

.o-wrapper {
  @include alchemy-inuit-clearfix();
  margin-left: auto;
  margin-right: auto;
  max-width: $inuit-wrapper-width;
  padding-left: $inuit-global-spacing-unit;
  padding-right: $inuit-global-spacing-unit;

  &--full {
    max-width: none;
  }
}
