// Objects :: Flex

.o-flex {
  align-content: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.o-flex__row {
  flex-direction: row;
}

.o-flex__wrap {
  flex-wrap: wrap;
}
