// Settings :: Cosmetics



$alchemy-colors: (
  'primary': #6ac3f3,
  'secondary1': #de5e35,
  'secondary2': #ffb12f,
  'secondary3': #88aa4f,
  'black': #000,
  'white': #fff,
  'pale-grey': #f7f7f7,
  'light-grey': #e5e5e5,
  'grey': #6d6d6d,
  'medium-grey': #3f3f3f,
  'dark-grey': #202020,
  'positive': #59b25a,
  'caution': #ffc107,
  'negative': #c74441,
  'info': #357aba
);

$alchemy-color-interval: 10% !global;
$alchemy-mix-levels: 5;


// Sizes
$inuit-font-size-h1: 36px !default;
$inuit-font-size-h2: 28px !default;
$inuit-font-size-h3: 24px !default;
$inuit-font-size-h4: 20px !default;
$inuit-font-size-h5: 18px !default;
$inuit-font-size-h6: 16px !default;
$inuit-font-size-small: 14px !default;
$inuit-font-size-tiny: 12px !default;

$alchemy-sizes: (
  'tiny': ($inuit-global-spacing-unit-tiny, $inuit-font-size-tiny),
  'small': ($inuit-global-spacing-unit-small, $inuit-font-size-small),
  'large': ($inuit-global-spacing-unit-large, $inuit-font-size-h2),
  'huge': ($inuit-global-spacing-unit-huge, $inuit-font-size-h1),
  'standard': ($inuit-global-spacing-unit, $inuit-global-font-size)
);


// Surfaces
$alchemy-surfaces: (
  '0': 'none',
  '1': '0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)',
  '2': '0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)',
  '3': '0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)',
  '4': '0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)',
  '5': '0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)'
);


// Typography
// Variables
$alchemy-face-thin: 'FS-Emeric-Thin', Helvetica, sans-serif;
$alchemy-face-light: 'FS-Emeric-Light', Helvetica, sans-serif;
$alchemy-face-medium: 'FS-Emeric-Medium', Helvetica, sans-serif;
$alchemy-face-regular: 'FS-Emeric-Regular', Helvetica, sans-serif;
$alchemy-face-bold: 'FS-Emeric-Bold', Helvetica, sans-serif;
$alchemy-face-book: 'FS-Emeric-Book', Helvetica, sans-serif;
$alchemy-face-core: 'FS-Emeric-Core', Helvetica, sans-serif;

// Maps
$types: (
  h1: (36px, $alchemy-face-light),
  h2: (28px, $alchemy-face-light),
  h3: (24px, $alchemy-face-light),
  h4: (16px, $alchemy-face-medium),
  p: (16px, $alchemy-face-regular),
  li: (16px, $alchemy-face-regular),
  small: (13px, $alchemy-face-core),
);

$typeface: (
  'light': $alchemy-face-light,
  'book': $alchemy-face-book,
  'medium': $alchemy-face-medium,
  'regular': $alchemy-face-regular,
  'core': $alchemy-face-core,
  'thin': $alchemy-face-thin,
  'bold': $alchemy-face-bold,
);
