// Settings :: Colours

$alchemy-init-header: #173649;
$alchemy-init-bg: #14232b;
$alchemy-code-bg: #193748;

$alchemy-colors: (
  'primary': #fff000,
  'secondary1': #de007b,
  'secondary2': #009fee,
  'secondary3': #9f090a,
  'black': #000,
  'white': #fff,
  'pale-grey': #f7f7f7,
  'light-grey': #e5e5e5,
  'grey': #6d6d6d,
  'medium-grey': #3f3f3f,
  'dark-grey': #202020,
  'positive': #59b25a,
  'caution': #ffc107,
  'negative': #c74441,
  'info': #357aba
);

$alchemy-color-interval: 10% !global;
$alchemy-mix-levels: 5;
