///* ========================================================================
//   #CONFIG
//   ======================================================================== */

// A map of global config settings. Define any project-level configuration,
// feature switches, etc. in here.

$inuit-config: (
  env: dev,
  healthcheck: false,
  debug: true
);

// You can access data in this map using the following function:
//
// alchemy-config(<key>)
//
// Example usage:
//
// @if (alchemy-config(debug) == true) { ...  }

@function alchemy-config($key) {
  @return map-get($alchemy-config, $key);
}

// Alchemy Atom Settings
$alchemy-atoms: (
  'tiny': 6,
  'small': 12,
  'standard': 24,
  'large': 48,
  'huge': 96
);

$alchemy-spacing-properties: (
  'padding': ('padding', #789772, darken(#789772, 15%)),
  'margin': ('margin', #cb9d71, darken(#cb9d71, 15%))
) !default;

// Alchemy Media Queries Settings
$mq-responsive: true;

$mq-breakpoints: (
  room: 0px,
  village: 414px,
  town: 736px,
  city: 768px,
  country: 1024px,
  continent: 1280px,
  world: 1366px
);
