// Settings :: Sizes

$inuit-font-size-h1: 36px !default;
$inuit-font-size-h2: 28px !default;
$inuit-font-size-h3: 24px !default;
$inuit-font-size-h4: 20px !default;
$inuit-font-size-h5: 18px !default;
$inuit-font-size-h6: 16px !default;
$inuit-font-size-small: 14px !default;
$inuit-font-size-tiny: 12px !default;

$alchemy-sizes: (
  'tiny': ($inuit-global-spacing-unit-tiny, $inuit-font-size-tiny),
  'small': ($inuit-global-spacing-unit-small, $inuit-font-size-small),
  'large': ($inuit-global-spacing-unit-large, $inuit-font-size-h2),
  'huge': ($inuit-global-spacing-unit-huge, $inuit-font-size-h1),
  'standard': ($inuit-global-spacing-unit, $inuit-global-font-size)
);
