// Settings :: Alchemy

$alchemy-colour1: #173748;
$alchemy-colour2: #40648a;
$alchemy-colour3: #4b749b;
$alchemy-colour4: #7ba0c5;
$alchemy-colour5: #adc9e3;
$alchemy-colour6: #96aec4;
$alchemy-colour7: #c5d1df;
$alchemy-colour8: #f6f9fc;

$alchemy-primary: #6ac3f3;
$alchemy-secondary: #de5e35;
$alchemy-tertiary: #ffb12f;

$alchemy-dev-colours: (
  'primary': $alchemy-primary,
  'secondary': $alchemy-secondary,
  'tertiary': $alchemy-tertiary,
  'colour1': $alchemy-colour1,
);

// Colours
$alchemy-init-header: #173649;
$alchemy-init-bg: #14232b;
$alchemy-code-bg: #193748;
