// Tools :: Colours

@function alchemy-color-level($color-name: 'primary', $level: 0) {
  $color: alchemy-color($color-name);
  $color-base: if($level < 0, alchemy-color('black'), alchemy-color('white'));

  @return mix($color-base, $color, abs($level) * $alchemy-color-interval);
}

@function alchemy-color-contrast($bgcolor, $threshold: 50) {
  @return if(
    lightness($bgcolor) >= $threshold,
    $alchemy-color-dark,
    $alchemy-color-light
  );
}

@function alchemy-color($key: 'primary') {
  @return map-get($alchemy-colors, $key);
}

$alchemy-color-dark: alchemy-color(dark-grey);
$alchemy-color-light: alchemy-color('white');

// TODO Add a colour contrast specifically for utility colours
// FIXME Check why prettier not working with tool files
