// Tools :: Animate
/* stylelint-disable */

$base-duration: $alchemy-global-speed !default;

$use-fadeIn: true;
$use-fadeInUp: true;
$use-fadeOut: true;
$use-fadeOutDown: true;

$use-bounceIn: true;
$use-bounceOut: true;

$use-bounce: true;
$use-flash: true;
$use-pulse: true;
$use-shake: true;
$use-swing: true;
$use-tada: true;
$use-wiggle: true;
$use-wobble: true;

$use-lightSpeedIn: true;
$use-lightSpeedOut: true;

$use-slideInLeft: true;
$use-slideInRight: true;
$use-slideInUp: true;
$use-slideInDown: true;
$use-slideOutLeft: true;
$use-slideOutRight: true;
$use-slideOutUp: true;
$use-slideOutDown: true;
