// Tools :: Layout

@mixin alchemy-flexbox($direction: row, $wrap: wrap, $align-items: initial, $align-content: initial, $justify: initial) {
  display: flex;
  align-items: $align-items;
  align-content: $align-content;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $direction;
}
